.blue-header{
	margin-left:8px;
    margin-top: 20px;
    margin-bottom:10px;
    background:#00264b url(../public/blue_16.jpg)no-repeat;
    width: 100%;
    height: 2px;
    line-height: 2px;
    overflow: hidden;
    width:94%;

}
ul{
padding:0px;
margin: 0px;

}
ul li{
padding:0px;
float: left; 
margin:5px auto; 
list-style: none;

}
div{
	width: 100%;
}
#info li a{
    
    word-wrap:break-word;
}
h4{
    white-space:nowrap;
}
#notice ul{
    display: inline;
}
#notice ul li{
    display:inline;
    float: left;
}
#notice li p{
   display: inline; float: left; word-wrap:break-word;width:166px;white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow:hidden;
}
#notice span{
    line-height: 20px;
color: #0d6ac6;
font-family: "Arial Black", Gadget, sans-serif;display:inline;float: left;
}