.blue-header{
	margin-left:8px;
    margin-top: 20px;
    margin-bottom:10px;
    background:#00264b url(../public/blue_16.jpg)no-repeat;
    width: 100%;
    height: 2px;
    line-height: 2px;
    overflow: hidden;
    width:100%;

}
ul{
padding:0px;
margin: 0px;

}
ul li{
padding:0px;
float: left; 
margin:5px auto; 
list-style: none;

}
div{
	width: 100%;
}
#info li a{
    
    word-wrap:break-word;
}
h4{
    white-space:nowrap;
}
#notice ul{
    display: inline;
}
#notice ul li{
    display:inline;
    float: left;
}
#notice li p{
   display: inline; float: left; word-wrap:break-word;width:166px;white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow:hidden;
}
#notice span{
    line-height: 20px;
color: #0d6ac6;
font-family: "Arial Black", Gadget, sans-serif;display:inline;float: left;
}

.css-slideshow{
  position: relative;
  max-width: 495px;
  height: 220px;
  margin: 5em auto .5em auto;
}
.css-slideshow figure{
  margin: 0;
  max-width: 495px;
  height: 220px;
  background: #000;
  position: absolute;
}
.css-slideshow img{
  box-shadow: 0 0 2px #666;
}
.css-slideshow figcaption{
  position: absolute;
  top: 0;
  color: #fff;
  background: rgba(0,0,0, .3);
  font-size: .8em;
  padding: 8px 12px;
  opacity: 0;
  transition: opacity .1s;
}
.css-slideshow:hover figure figcaption{
  transition: opacity .1s;
  opacity: 1;
}
.css-slideshow-attr{
  max-width: 495px;
  text-align: right;
  font-size: .7em;
  font-style: italic;
  margin:0 auto;
}
.css-slideshow-attr a{
  color: #666;
}
.css-slideshow figure{
  opacity:0;
}
figure:nth-child(1) {
  animation: xfade 48s 42s infinite;
}
figure:nth-child(2) {
  animation: xfade 48s 36s infinite;
}
figure:nth-child(3) {
  animation: xfade 48s 30s infinite;
}
figure:nth-child(4) {
  animation: xfade 48s 24s infinite;
}
figure:nth-child(5) {
  animation: xfade 48s 18s infinite;
}
figure:nth-child(6) {
  animation: xfade 48s 12s infinite;
}
figure:nth-child(7) {
  animation: xfade 48s 6s infinite;
}
figure:nth-child(8) {
  animation: xfade 48s 0s infinite;
}

@keyframes xfade{
  0%{
    opacity: 1;
  }
  10.5% {
    opacity: 1;
  }
  12.5%{
    opacity: 0;
  }
  98% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}